{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}



{% block body %}

    <div class="example-wrapper">
        <form>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Select a date range</label>
                    <input type='text' class="form-control" name="daterange" value="{{ app.request.query.get('daterange') }}"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div style="padding-top: 30px;">
    {% if (availableRooms is defined) and (availableRooms|length > 0) %}
        <table class="table table-stripped">
            <thead>
                <tr>
                    <td>Room no</td>
                    <td>Price</td>
                    <td>Action</td>
                </tr>

            </thead>
            <tbody>
            {% for room in availableRooms %}
                <tr>

                    <td>{{ room.name }}</td>
                    <td>{{ room.price }}</td>
                    <td><a href="" class="btn btn-primary">Book</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if (availableRooms is defined) and (availableRooms|length == 0) %}
        <div>No Rooms available</div>
    {% endif %}
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script type="text/javascript">
        $(function() {
            var date = new Date();
            var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

            $('input[name="daterange"]').daterangepicker({
                autoUpdateInput: false,
                minDate: today,
                startDate: new Date(),
                locale: {
                    cancelLabel: 'Clear'
                }
            });

            $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

        });
    </script>

{% endblock %}
